@config "../tailwind.config.js";

/* Styles scoped to .tw-plugin-scope */
.tw-plugin-scope {

	@import "tailwindcss/preflight.css" layer(base);

	position: relative;

	font-size: 16px;
	line-height: 1.5;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: normal;
		font-size: 1rem;
		margin: 0;
		padding: 0;
	}

	p {
		font-weight: normal;
		font-size: 1rem;
		margin: 0;
		padding: 0;
	}
}

@import "tailwindcss/theme.css";
@import "tailwindcss/utilities.css";

